body {
    background-image: url(../images/opening2.jpg);
    background-repeat: no-repeat;
    background-size:1500px 1500px;
    color: rgb(233, 236, 248);
    display: inline;
}
.container {
    float: left;
    margin: auto;
    text-align: left;
}

#currentWord {
    letter-spacing: 10px;
}

.footer {
    padding-top: 22rem;
    padding-bottom: 1rem;
    float: center;
    color: #fff;
  }


.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    
    background-color: orange;
    border: .5rem solid white;
    padding: 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.5rem;
}